<% provide(:title, 'Bible Page') %>

<div class="members-index" style="-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; border: #ccc solid 2px; font-size: 100%; background-color: #eee;">

  <h2><i class="fas fa-bible"></i>&nbsp;御言葉一覧</h2>

  <div class="index-table col-md-offset-1 col-md-12">
    <table class="table table-striped" id="table-bibles">
      <thead style="text-align: center;">
        <tr>
          <th width="70"><%= Bible.human_attribute_name :display_flag %></th>
          <th width="100"><%= Bible.human_attribute_name :title %></th>
          <th width="120"><%= Bible.human_attribute_name :subtitle %></th>
          <th width="400"><%= Bible.human_attribute_name :text %></th>
          <th width="200"></th>
        </tr>
      </thead>

      <% @bibles.each do |bible| %>
        <tbody>
          <tr>
            <% if bible.display_flag == true %>
              <td style="text-align: center;"><%= "✅" %></td>
            <% else %>
              <td></td>
            <% end %>
            <td><%= bible.title %></td>
            <td><%= bible.subtitle %></td>
            <td><%= bible.text %></td>
            <td class="center">
              <%= link_to "編集", edit_admin_pages_bible_path(bible), remote: true, class: "btn btn-sm btn-success" %>
              <%= link_to "削除", admin_pages_bible_path(bible), method: :delete,
                  data: { confirm: "削除してよろしいですか？" },
                  class: "btn btn-sm btn-danger" %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>

  <%= "　"%>
  <%= link_to "新規登録", new_admin_pages_bible_path, remote: true, class: "btn btn-primary" %>

</div>

<!--モーダルウインドウ表示-->
<div id="bible-edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="bible-new" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<%# <script src="https://kit.fontawesome.com/c5b3926114.js" crossorigin="anonymous"></script> %>