<h1>ユーザーページ(index)</h1>
<h2>ユーザー一覧</h2>
<table>
<% @users.each do |user| %>
      <% unless user.admin? %>
        <tbody>
          <tr>
            <td><%= user.member_groups %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.phone_number %></td>
            <td class="center">
              <%= link_to "編集", edit_other_user_registration_path(user), remote: true, class: "btn btn-sm btn-success" %>
              <%= link_to "削除", user, method: :delete,
                  data: { confirm: "削除してよろしいですか？" },
                  class: "btn btn-sm btn-danger" %>
            </td>
          </tr>
        </tbody>
      <% end %>
    <% end %>
</table>


