<%# provide(:title, 'お知らせ一覧') %>

<div class="members-index" style="border-radius: 10px; border: #ccc solid 2px; font-size: 100%; background-color: #eee;">

  <h2><i class="fas fa-info"></i>&nbsp;メンバー向けお知らせ一覧</h2>

  <div class="text-right">
    <%= link_to "新規登録", new_admin_pages_info_path, class: "btn btn-primary", remote: :true %>
  </div>
  
  <div class="info">
    <!--<h3>メンバー向けお知らせ</h3>-->
    <div class="info__contents">
      <% @member_infos.each do |info| %>
        <div style="border-radius: 10px; border: #ccc solid 2px; font-size: 100%; padding: 20px; background-color: #fff;">
          <div class="info__title" style="border: #ccc solid 1px; border-left: #ccc solid 10px; padding: 5px; background: #fff; font-size: 100%; background-color: #eee;">
            <%= info.title %>
          </div>
          <div class="info__content" style="background: #fff; border: 1px #ccc solid; box-shadow: 0 2px 3px 0 #ddd; font-size: 100%; padding: 20px;">
            <%= info.content.html_safe %>
          </div>
          <div class="info__display_flag" style="margin-top: 10px">
            <% if info.display_flag == true %>
              <%= "表示　✅" %>
            <% else %>
              <%= "表示　⬜" %>
            <% end %>
          </div>
          <%= link_to '編集', edit_admin_pages_info_path(info), remote: true, class: "btn btn-success" %>
          <%= link_to '削除', admin_pages_info_path(info),
              class: "btn btn-danger",
              method: :delete,
              remote: true,
              data: { confirm: "『#{info.title}』を削除してよろしいですか？",
                      cancel: 'キャンセル',
                      commit: '削除する'
                    }, title: '削除確認'
          %>
        </div>
      <% end %>
    </div>
  </div>

</div>

<div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="new" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
