<%= form_with model: @article, remote: true do |f| %>
  <%= render 'layouts/error_messages', model: @article %>
  <div>
    <div class="form-group">
      <%= f.label :issue_date %>
      <%= f.date_field :issue_date, value: Date.current, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :letter %>
      <% if controller.action_name == "new" %>
        <%= f.file_field :letter, class: "form-control-file", required: true, accept: "application/pdf" %>
      <% elsif controller.action_name == "edit" %>
        <%= f.file_field :letter, class: "form-control-file", accept: "application/pdf" %>
      <% end %>
      
      <% if article.letter.attached? %>
        <%= article.letter.filename %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
    </div>
  </div>
<% end %>
