 <%= form_with model: @article, local: true do |form| %>
  <!-- 暫時配置エラーメッセージ -->
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2>入力エラーが<%= article.errors.count %>件あります。</h2>
      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.date_field :issue_date, value: Date.current %>
  </div>

  <div>
    <%= form.file_field :letter %>
  </div>

  <div>
    <%= form.submit %>
  </div>

  <div>
    <%= link_to '戻る', articles_path %>
  </div>
 <% end %>