<% provide(:title, 'お便り一覧') %>

<h2><i class="far fa-file-alt"></i>&nbsp;毎月のお便り一覧</h2>

<div class="container">
  <div class="article container">
    <div class="article__group">

      <ul class="article__year_list">
        <li>
          <div class="article-wrap">
            <div id="all-articles" class="article-year selected-article">全て</div>
          </div>
          <% @article_years.each do |issue_date, article| %>
          <div class="article-wrap">
            <div class="article-year"><%= issue_date %></div>
          </div>
          <% end %>
        </li>
        <li class="article__new">
          <div>
            <% if current_user.admin? %>
              <div>
                <%= link_to '新規登録', new_article_path, class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </li>
      </ul>

      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= "#{Article.human_attribute_name :issue_date}" %></th>
            <th>添付ファイル</th>
            <% if current_user.admin? %>
              <th></th>
              <th></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @articles.each do |article| %>
            <tr id="article-<%= article.id %>">
              <td><%= link_to article.issue_date.strftime("%Y年%m月%d日"), article_path(article) %></td>
              <td><%= link_to article.letter.filename, rails_blob_path(article.letter), target: "_blank", rel: "noopener noreferrer" %></td>
              <% if current_user.admin? %>
                <td><%= link_to '編集', edit_article_path(article), class: "btn btn-success" %></td>
                <td><%= link_to '削除', article_path(article), class: "btn btn-danger",
                                                          method: :delete,
                                                          data: { confirm: "#{article.letter.filename}を削除してよろしいですか？" } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
// お便り表示切替
  $('.article-year').on('click', function() {
    var year = $(this).text();
    '<% @articles.each do |article| %>'
      if (year == '<%= article.issue_date.year.to_s %>') {
        $("#article-<%= article.id %>").show();
      } else if (year == '全て'){
        $("#article-<%= article.id %>").show();
      } else {
        $("#article-<%= article.id %>").hide();
      }
    '<% end %>'
  });
// ボタンの下線切替
  $('.article-year').on('click', function () {
    $('.article-year').removeClass('selected-article');
    $(this).addClass('selected-article');
  });
</script>
