<% provide(:title, 'お便り一覧') %>

<h2><i class="far fa-file-alt"></i>&nbsp;毎月のお便り一覧</h2>

<div class="container">
  <div class="article container">
    <div class="article__group">

      <ul class="article__year_list">
        <li>
          <div class="article-wrap">
            <div id="all-articles" class="article-year selected-article">全て</div>
          </div>
          <% @article_years.each do |issue_date, article| %>
          <div class="article-wrap">
            <div class="article-year"><%= issue_date %></div>
          </div>
          <% end %>
        </li>
        <li class="article__new">
          <div>
            <% if current_user.admin? %>
              <div>
                <%= link_to '新規登録', new_article_path, remote: true, class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>  
        </li>
      </ul>

      <div id="article__index">
        <%= render 'index' %>
      </div>
    </div>
  </div>
</div>

<div id="new-article" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-article" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<script>
// お便り表示切替
  $('.article-year').on('click', function() {
    var year = $(this).text();
    '<% @articles.each do |article| %>'
      if (year == '<%= article.issue_date.year.to_s %>') {
        $("#article-<%= article.id %>").show();
      } else if (year == '全て'){
        $("#article-<%= article.id %>").show();
      } else {
        $("#article-<%= article.id %>").hide();
      }
    '<% end %>'
  });
// ボタンの下線切替
  $('.article-year').on('click', function () {
    $('.article-year').removeClass('selected-article');
    $(this).addClass('selected-article');
  });
</script>
