<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">編集</h3>
      <button id="submit-edit-movie" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-8 pr-0">
          <div class="row">
            <img src="<%= @movie.thumbnail_url %>" 
              class="bd-placeholder-img thumbnail align-items-center img-center" alt="サムネイル"><br>
          </div>
        </div>
        <div class="col-3">
          <div class="movies__member">
            <h3><%= @movie.category if @movie.category.present? %>動画</h3>
            <div class="movies__form">
              <%= form_with(model: @movie, remote: true) do |f| %>
                <div class="movies__input">
                  <%= f.label :youtube_url, "YouTubeのURL"%>
                  <%= f.text_field :youtube_url, placeholder: 'URLを入力してください。'%>

                  <%= f.label :youtube_url, "YouTubeのURL"%>
                  <%= f.text_area :text, placeholder: '動画説明やメッセージを入力できます。（300文字以内）',
                                         size: "8x4", class: "form-control memo"
                  %>

                  <%= f.label :category, "公開設定"%>
                  <%= f.check_box :category, {}, "メンバー", "一般"%>

                </div>
                <div class="btn-sub-can">
                  <%= f.submit "更新", name: nil, class: "btn btn-success btn-edit" %>
                  <button type="button" class="btn border btn-edit" data-dismiss="modal">
                    キャンセル
                  </button>
                </div>
              <% end %>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
</div>
