<% provide(:title, '動画一覧') %>

<div id="flash_msg_js"></div>
<h2><i class="fas fa-video"></i>&nbsp;動画一覧</h2>

  <% if current_user.admin? %>
    <div class="text-right" style="margin-right: 20px;">
      <%= link_to "新規登録", new_movie_url, remote: true, class: "btn btn-primary movie__link" %>
    </div>
  <% end %>

  <%= link_to "全動画一覧", movies_path, class: "movie__link btn btn-outline-primary" %></a>
  <%= link_to "メンバー動画一覧", members_view_movies_path, class: "movie__link btn btn-outline-primary" %>
  <%= link_to "一般動画一覧", general_view_movies_path, class: "movie__link btn btn-outline-primary" %>

<div class="conteiner">
  <div id="movie__index">
    <%= render 'index' %>
  </div>
</div>

<div id="edit-movie" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="new-movie" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
