<% provide(:title, '動画一覧') %>

<div id="flash_msg_js"></div>
<h2><i class="fas fa-video"></i>&nbsp;動画一覧</h2>

<div class="conteiner">
  <% if current_user.admin? %>
    <%= link_to "動画投稿画面へ", new_movie_url, remote: true, class: "movie__link" %>
  <% end %>
  <%= link_to "全動画一覧", movies_path, class: "movie__link" %>
  <%= link_to "メンバー動画一覧", members_view_movies_path, class: "movie__link" %>
  <%= link_to "一般動画一覧", general_view_movies_path, class: "movie__link" %>

  <div id="movie__index">
    <%= render 'index' %>
  </div>
</div>

<div id="edit-movie" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="new-movie" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
