<% provide(:title, 'Movies Page') %>

<h2>会員様専用画面</h2>

<div id="content">
  <%# <div id="member-main" style="-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; border: #ccc solid 2px; font-size: 100%; padding: 20px; background-color: #eee;"> %>
  <div id="member-main" style="-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; border: #ccc solid 2px; font-size: 100%; background-color: #eee;">

    <div class="row">

      <!-- sidebar_start -->
      <div class="sm_sidebar col-sm-3" style="margin-top: 60px;">
        <div class="container" style="-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; border: #ccc solid 2px; font-size: 100%; padding: 20px; background-color: #ddd;">
          <div class="sm_sidebar_title">ユーザー関連</div>
          <div class="col-xs-12 col-lg-12">
            <div class="tab-item"><%= link_to "会員様アカウント情報", user_path(current_user) %></div>
          </div>
          <div class="sm_sidebar_title">お知らせ関連</div>
          <div class="col-xs-12 col-lg-12">
            <div class="tab-item"><%= link_to "お知らせ一覧", infos_path %></div>
          </div>
          <div class="sm_sidebar_title">お便り関連</div>
          <div class="col-xs-12 col-lg-12">
            <div class="tab-item"><%= link_to "お便り一覧", articles_path %></div>
          </div>
          <div class="sm_sidebar_title">動画関連</div>
          <div class="col-xs-12 col-lg-12">
            <div class="tab-item"><%= link_to "動画一覧", movies_path %></div>
          </div>
          <!--
          <div class="sm_sidebar_title">写真関連</div>
          <div class="col-xs-12 col-lg-12">
            <div class="tab-item"><a href="#">写真一覧</a></div>
          </div>
          -->
        </div>
      </div>
      <!-- sidebar_end -->

      <!-- content_start -->
      <div class="col-sm-9 sm_member_content">
        <section class="info container" id="member-info">
          <U><h2>お知らせ</h2></U>
          <div class="info__contents">
            <% @members_infos.each do |info| %>
              <div style="-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; border: #ccc solid 2px; font-size: 100%; padding: 20px; background-color: #fff;">
                <div class="info__title" style="border: #ccc solid 1px; border-left: #ccc solid 10px; padding: 5px; background: #fff; font-size: 100%; background-color: #eee;">
                  <%= info.title %>
                </div>
                <div class="info__content" style="background: #fff; border: 1px #ccc solid; box-shadow: 0 2px 3px 0 #ddd; font-size: 100%; padding: 20px;">
                  <%= info.content %>
                </div>
              </div><br>
            <% end %>
          </div>
        </section>

        <section class="article container" id="member-article">
          <U><h2>お便り</h2></U>
          <%# <div class="article__contents" style="background: #fff; border: 1px #ccc solid; box-shadow: 0 2px 3px 0 #ddd; font-size: 100%; padding: 20px;"> %>
          <div class="article__contents">
            <% @articles.each do |article|%>
              <object data="<%= rails_blob_path(article.letter) %>" type="application/pdf" class="article-item"></object>
            <% end %>
          </div>
        </section>
        <br>

        <U><h2>動画表示</h2></U>
        <section class="movie container" id="member-movie">
          <% @movies.each do |movie|%>
            <div class="movie__inner" style="background: #fff; border: 1px #ccc solid; box-shadow: 0 2px 3px 0 #ddd; font-size: 100%; padding: 20px;">
              <div class="movie__item">
                <div class="movie__title">
                  <%= movie.title %>
                </div>
                <div class="movie__iframe embed-responsive embed-responsive-21by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= movie.youtube_mid %>"
                          <%# frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"  %>
                          <%# allowfullscreen> %>
                  >
                  </iframe>
                </div>
                <div class="movie__text">
                  <%= movie.text %>
                </div>
              </div>
            </div>
          <% end %>
        </section>
      </div>
      <!-- content_end -->

    </div>
  </div>
</div>
