<div class="members-index" style="-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; border: #ccc solid 2px; font-size: 100%; background-color: #eee;">

  <h2><i class="far fa-file-alt"></i>&nbsp;毎月のお便り一覧</h2>

  <div class="article__new text-right">
    <% if current_user.admin? %>
      <div>
        <%= link_to '新規登録', new_admin_pages_article_path, remote: true, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr class="table-light">
        <th>日付</th>
        <th>添付ファイル</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
        <tr class="table-light">
          <td><%= article.issue_date.strftime("%Y/%m/%d") %></td>
          <td>
            <%= link_to file_name(article), rails_blob_path(article.letter), target: "_blank", rel: "noopener noreferrer" %>
            &nbsp;(<%= file_size(article) %>)
          </td>
          <td align="right">
            <%= link_to '編集', edit_admin_pages_article_path(article), remote: true, class: "btn btn-success" %>
            <%= link_to '削除', admin_pages_article_path(article),
                class: "btn btn-danger",
                method: :delete,
                remote: true,
                data: { confirm: "#{article.letter.filename}を削除してよろしいですか？",
                        cancel: 'キャンセル',
                        commit: '削除する'
                      }, title: '削除確認'
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="new-article" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-article" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
