<div class="modal-dialog modal-dialog-center justify-content-center">
  <div class="modal-content">
    <div class="modal-header article__modal-header">
      <div class="col-10 offset-1">
        <h3 class="modal-title">お便り新規登録</h3>
      </div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body article__modal-body">
      <%= form_with model: @article, url: admin_pages_articles_path, remote: true do |f| %>
        <%= render 'layouts/error_messages', model: @article %>
        <div>
          <div class="form-group">
            <%= f.label :issue_date %>
            <%= f.date_field :issue_date, value: Date.current, class: "form-control", required: true %>
          </div>

          <div class="form-group">
            <%= f.label :letter %>
            <%= f.file_field :letter, class: "form-control-file", required: true, accept: "application/pdf" %>
            
            <% if @article.letter.attached? %>
              <%= link_to @article.letter.filename, rails_blob_path(@article.letter), target: "_blank", rel: "noopener noreferrer"  %>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.submit class: "btn btn-primary", data: { disable_with: '送信中' } %>
            <button  class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>