<% provide(:title, 'お便り編集') %>
<h2>お便り編集</h2>

<%= form_with model: @article, url: admin_pages_article_path(@article), local: true do |f| %>
  <%= render 'layouts/error_messages', model: @article %>
  <div class="col col-6">
    <div class="form-group">
      <%= f.label :issue_date %>
      <%= f.date_field :issue_date, value: Date.current, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :letter %>
      <%= f.file_field :letter, class: "form-control-file", required: true %>
      
      <% if @article.letter.attached? %>
        <%= link_to @article.letter.filename, rails_blob_path(@article.letter), target: "_blank", rel: "noopener noreferrer"  %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to 'キャンセル', admin_pages_path, class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>

