<% provide(:title, 'Members Page') %>

<%# <div class="members-index" style="-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; border: #ccc solid 2px; font-size: 100%; background-color: #eee;"> %>

  <h2><i class="fas fa-user-friends"></i>&nbsp;メンバー一覧</h2>

  <div class="index-table col-md-offset-1 col-md-12">
    <%= will_paginate(@users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
    <div style="font-size: 90%; color: red;"><%= "※グループ・名前順" %></div>
    <table class="table table-striped" id="table-users">
      <thead>
        <tr>
          <th><%= User.human_attribute_name :name %></th>
          <th><%= User.human_attribute_name :email %></th>
          <th><%= User.human_attribute_name :phone_number %></th>
          <th><%= User.human_attribute_name :member_groups %></th>
          <th></th>
        </tr>
      </thead>

      <% @users.each do |user| %>
        <% unless user.admin? %>
          <tbody>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.phone_number %></td>
              <td><%= user.member_groups %></td>
              <td class="center">
                <%= link_to "編集", edit_other_user_registration_path(user), remote: true, class: "btn btn-sm btn-success" %>
                <%= link_to "削除", user, method: :delete,
                    data: { confirm: "削除してよろしいですか？" },
                    class: "btn btn-sm btn-danger" %>
              </td>
            </tr>
          </tbody>
        <% end %>
      <% end %>
    </table>
    <%= will_paginate(@users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  </div>

  <div>
    <%= "　" %>
    <%= link_to "新規登録", new_user_registration_path, remote: true, class: "btn btn-primary" %>
  </div>

<%# </div> %>

<!--モーダルウインドウ表示-->
<div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="new" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<%# <script src="https://kit.fontawesome.com/c5b3926114.js" crossorigin="anonymous"></script> %>