<%# provide(:title, 'メンバー動画一覧') %>

<div class="members-index" style="-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; border: #ccc solid 2px; font-size: 100%; background-color: #eee;">

  <h2><i class="fas fa-video"></i>&nbsp;メンバー動画一覧</h2>

  <div class="conteiner">

    <div class="text-right" style="margin-right: 20px">
      <%= link_to "新規登録", new_admin_pages_movie_path, remote: true, class: "btn btn-primary" %>
    </div>

    <section class="movie container" id="member-movie">
      <% @member_movies.each do |movie|%>
        <div class="movie__inner">
          <div class="<%= display_on_or_off(movie) %>">
            <div class="movie__item">
              <div class="movie__title">
                <%= movie.title.truncate(24) %>
                <div class="display-off-text"></div>
              </div>
              <div class="movie__iframe embed-responsive embed-responsive-21by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= movie.youtube_mid %>"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen>
                </iframe>
              </div>
              
              <div class="movie__edit" style="text-align: center;">
                <%= link_to "編集", edit_admin_pages_movie_path(movie.id), remote: true, class: "btn btn-success" %>
                <%= link_to '削除', admin_pages_movie_path(movie.id), method: :delete,
                    class: "btn btn-danger",
                    remote: true,
                    data: { confirm: "#{movie.category}動画『#{movie.title}』を削除してよろしいですか？",
                            cancel: 'キャンセル',
                            commit: '削除する'
                          }, title: '削除確認' 
                %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </section>

  </div>

</div>

<div id="edit-movie" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="new-movie" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
