<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header movie__modal-header">
      <div class="col-10 offset-1">
        <h3 class="modal-title">動画投稿admin</h3>
      </div>
      <button id="submit-new-movie" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body movie__modal-body">
      <div class="col-10 offset-1">
        
        <div class="conteiner">
          <div class="movies__member">
            <h3>メンバー</h3>
            <div class="movies__form">
              <%= form_with model: @movie, url: admin_pages_movies_path, remote: true do |f| %>
                <div class="movies__input">
                  <%= f.label :youtube_url, "YouTubeのURL"%><br>
                  <%= f.text_field :youtube_url, placeholder: 'URLを入力してください。', class: "form-control", required: true %><br>

                  <%= f.label :text, "メッセージ" %><br>
                  <%= f.text_area :text, placeholder: '動画説明やメッセージを入力できます。（300文字以内）',
                                        size: "20x7", class: "form-control memo"
                  %>

                </div><br>
                <%= f.hidden_field :category, value: "メンバー" %>
                <%= f.submit '投稿する', class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>

        </div>
      </div><br>
    </div>

  </div>
</div>
