<h2>メンバー動画投稿画面</h2>
<%# <p>Find me in app/views/movies/new.html.erb</p> %>
<!--
<%= link_to "全動画一覧", movies_path, class: "" %><br>
<%= link_to "メンバー動画一覧", members_view_movies_path, class: "" %><br>
<%= link_to "一般動画一覧", general_view_movies_path, class: "" %>
-->
<div class="conteiner">
  
  <div class="movies__member">
    <h3>メンバー</h3>
    <div class="movies__form">
      <%= form_with(model: @movie, url: admin_pages_movies_url, local: true) do |f| %>
        <div class="movies__input">
          <%= f.label :youtube_url, "YouTubeのURL"%><br>
          <%= f.text_field :youtube_url, placeholder: 'URLを入力してください。'%><br>

          <%= f.label :text, "メッセージ" %><br>
          <%= f.text_area :text, placeholder: '動画説明やメッセージを入力できます。（300文字以内）',
                                 size: "20x7", class: "form-control memo"
          %>

        </div>
        <%= f.hidden_field :category, value: "メンバー" %>
        <%= f.submit '投稿する' %><br><br>
      <% end %>
    </div>
  </div>

</div>