<%= form_with model: @gallery, local: true do |f| %>
  <%= render 'layouts/error_messages', model: @gallery %>
  <div class="col col-12">
    <div class="form-group">
      <%= f.label :category %>
      <%= f.text_field :category, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= f.label "画像を公開する" %>
      <%= f.check_box :display %>
    </div>

    <div class="form-group">
      <%= f.label :image %>
    </div>

    <div class="form-group">  
      <%= f.file_field :image, class: "form-control-file" %>
    </div>

    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
      <% if controller.action_name == "new" %>
        <%= link_to '戻る', galleries_path, class: "btn btn-secondary" %>
      <% elsif controller.action_name == "edit" %>
        <button type="button" class="btn border btn-edit" data-dismiss="modal">キャンセル</button>
      <% end %>
    </div>

    <div class="form-group">
      <% if gallery.image.attached? %>
        <%= image_tag gallery.image %>
      <% end %>
    </div>
  </div>
<% end %>

<style>
input[type=checkbox] {
  transform: scale(1.5);
}
</style>