<% provide(:title, 'ギャラリー') %>

<div class="container">
  <% if @admin_user %>
    <%= link_to "画像投稿画面へ", new_gallery_url, class: "" %>
  <% end %>

  <section class="gallery container">
    <h3 class="title-tag"><i class="fa fa-picture-o" aria-hidden="true"></i> ギャラリー</h3>
    <% @grouped_galleries.each do |category, galleries| %>
    <h4 class="category_tag"><%= category %></h4>
      <% galleries.each do |gallery| %>
        <div class="gallery__inner col-3">
          <div class="gallery__item center">

            <div class="gallery___image">
              <%= image_tag gallery.image.variant(resize:'200x200') %>
            </div>

            <%# <div class="gallery__category"> %>
              <%# <%= gallery.category %>
            <%# </div> %>

            <div class="gallery__title">
              <%= gallery.title %>
            </div>

            <% if user_signed_in? %>
              <div class="galley__edit">
                <%= link_to '編集', edit_gallery_path(gallery.id), remote: true, class: "btn btn-success" %>
                <%= link_to '削除', gallery_path(gallery), class: "btn btn-danger",
                                                          method: :delete,
                                                          data: { confirm: "#{gallery.title}を削除してよろしいですか？" } %>
              </div>
            <% end %>

          </div>
        </div>
      <% end %>
    <% end %>
  </section>
</div>

<div id="edit-gallery" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<style>
  .gallery__inner {
    display: inline-block;
    background: #fff;
    /* border: 1px #ccc solid; */
    /* box-shadow: 0 2px 3px 0 #ddd; */
    margin-left: -5px;
    margin-bottom: 10px;
    padding: 8px;
  }

  .title-tag {
    text-align: left;
  }

  .fa {
    color: #06a506;
  }

  .category_tag {
    padding: 6px 0;
    text-align: left;
    border-bottom: solid 2px #06a506; 
  }
</style>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">