<% provide(:title, 'お知らせ一覧') %>

<h2><i class="fas fa-info-circle"></i>&nbsp;お知らせ一覧</h2>

<% if current_user.admin? %>
  <div class="text-right">
    <%= link_to "新規登録", new_info_url, class: "btn btn-primary" %>
  </div>
<% end %>

<div class="info">

  <U><h4>メンバー向けお知らせ</h4></U>
  <div class="info__contents">
    <% @member_infos.each do |info| %>
      <div style="-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; border: #ccc solid 2px; font-size: 100%; padding: 20px; background-color: #fff;">
        <div class="info__title" style="border: #ccc solid 1px; border-left: #ccc solid 10px; padding: 5px; background: #fff; font-size: 100%; background-color: #eee;">
          <%= info.title %>
        </div>
        <div class="info__content" style="background: #fff; border: 1px #ccc solid; box-shadow: 0 2px 3px 0 #ddd; font-size: 100%; padding: 20px;">
          <%= info.content.html_safe %>
        </div>
        <% if current_user.admin? %>
          <div class="info__display_flag" style="margin-top: 10px">
            <% if info.display_flag == true %>
              <%= "表示　✅" %>
            <% else %>
              <%= "表示　⬜" %>
            <% end %>
          </div>
          <%= link_to '編集', edit_info_path(info), class: "btn btn-success" %>
          <%= link_to '削除', info_path(info.id),
              class: "btn btn-danger",
              method: :delete,
              remote: true,
              data: { confirm: "『#{info.title}』を削除してよろしいですか？",
                      cancel: 'やめる',
                      commit: '削除する'
                    }, title: '削除確認'
          %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if current_user.admin? %>
    <br><br>

    <U><h4>一般向けお知らせ</h4></U>
    <div class="info__contents">
      <% @general_infos.each do |info| %>
        <div style="-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; border: #ccc solid 2px; font-size: 100%; padding: 20px; background-color: #fff;">
          <div class="info__title" style="border: #ccc solid 1px; border-left: #ccc solid 10px; padding: 5px; background: #fff; font-size: 100%; background-color: #eee;">
            <%= info.title %>
          </div>
          <div class="info__content" style="background: #fff; border: 1px #ccc solid; box-shadow: 0 2px 3px 0 #ddd; font-size: 100%; padding: 20px;">
            <%= info.content.html_safe %>
          </div>
          <div class="info__display_flag" style="margin-top: 10px">
            <% if info.display_flag == true %>
              <%= "表示　✅" %>
            <% else %>
              <%= "表示　⬜" %>
            <% end %>
          </div>
          <%= link_to '編集', edit_info_path(info), class: "btn btn-success" %>
          <%= link_to '削除', info_path(info.id),
              class: "btn btn-danger",
              method: :delete,
              remote: true,
              data: { confirm: "『#{info.title}』を削除してよろしいですか？",
                      cancel: 'やめる',
                      commit: '削除する'
                    }, title: '削除確認'
          %>
        </div>  
      <% end %>
    </div>
  <% end %>

</div>