<div id="menu-bar">
  <nav class="navbar navbar-expand navbar-light">
    <%= link_to "トップページ", root_path, class: 'navbar-brand' %>

    <div id="Navber">
      <ul class="navbar-nav">

        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li class="nav-item active">
              <%= link_to '管理者専用画面', admin_page_index_path, class: 'nav-link' %>
            </li>
            <li class="nav-item active">
              <%= link_to '会員様一覧', users_path, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item active">
              <%= link_to '会員様専用画面', member_page_index_path, class: 'nav-link' %>
            </li>
          <% end %>
          <li class="nav-item active">
            <%= link_to "動画一覧", movies_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "毎月のお便り一覧", articles_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "お知らせ一覧", infos_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "御言葉一覧", bibles_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "#{current_user.name}", "#", class: "nav-link", style: "text-align: right" %>
          </li>
          <li class="nav-item active">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item active">
            <%= link_to "会員様はこちらから", new_user_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>