<nav class="hum-nav">
  <div class="inner">
    <ul>
      <% if user_signed_in?%>
        <li class="header__li item">
            <%= link_to 'メンバー専用画面', member_pages_path, class: 'nav-link' %>
        </li>
        <li class="header__li item">
          <%= link_to '管理者専用画面', admin_pages_path, class: 'nav-link' if current_user.admin?%>
        </li>
      <% else %>
        <li class="header__li item">
          <%= link_to "当集会の兄弟姉妹はこちら", new_user_session_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>

    <div class="hum-main">
      <ul>

        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= "ユーザー名：#{current_user.name}" %>
          </li>
          <% if current_user.admin? %>
            <li class="nav-item active">
              <%= link_to 'メンバー一覧', users_path, class: 'nav-link' %>
            </li>
          <% else %>
          <% end %>
          <li class="nav-item active">
            <%= link_to "動画一覧", movies_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "毎月のお便り一覧", articles_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "お知らせ一覧", infos_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "御言葉一覧", bibles_path, class: 'nav-link' %>
          </li>
          <li class="header__li item">
            <%= link_to "ギャラリー", galleries_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>