<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%# ページローダー機能 %>
    <%= stylesheet_link_tag 'admin/module/loader' %>
    <%= javascript_include_tag 'vendors/pace.min' %>
    <%# ページローダーここまで %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "vendors/bootstrap-reboot", :media => "all" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= stylesheet_link_tag    'admin_pages', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# lightbox2（お知らせリッチテキストエディター用）機能 %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>
    <%# アイコン出力用 %>
    <script src="https://kit.fontawesome.com/c5b3926114.js" crossorigin="anonymous"></script>


  </head>

  <body data-turbolinks="false">
    <div id="admin-global-container">
      <div id="admin-container">
        <div class="nav-trigger"></div>
        <%# <%= render 'admin_pages/header' %>
        <%= render 'layouts/header' %>
        <div id="header-space"></div>
        <%= render 'layouts/flash_messages' %>
        <div class="container-fluid py-4 <%= devise_controller? ? 'mw-md' : 'mw-xl' %>">
        <%#= render 'layouts/flash_messages' %>
          <%= yield %>
        </div>
        <%= render 'layouts/footer' %>
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
  </body>
</html>
